<!DOCTYPE html>
<html>
<head>
    <title>AI Health Assistant</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>

<body>
   

    <!-- Baymax face -->
    <div class="baymax-face">
        <div class="eye left"></div>
        <div class="line"></div>
        <div class="eye right"></div>
    </div>

<div class="container">

    <h1>🤖 Personal Health Care Assistant</h1>
    <p>Your AI powered symptom checker</p>

    <a href="/health">
        <button class="main-btn">Start Health Check</button>
    </a>

</div>

</body>
</html>